<div id ="list-of-books">   
    <h1 class="control-label">List of all books in the database!</h1>
        {{#this}}  
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">{{name}}</h3>
            </div>
            <div class="panel-body tab-pane fade active in">
                <img src="{{img}}" alt="No image!" class="image"><br><br>
                <p><strong>Genre: </strong>{{genre}} </p>                                
                <p><strong>Description: </strong>{{description}}</p>
                <span><strong>Author: </strong>{{author}}</span>
            </div>
        </div>
        {{/this}}
</div>